[default]
output = {{ aws_output_format }}
{% if aws_access_key_id is defined %}
aws_access_key_id = {{ aws_access_key_id }}
{% endif %}
{% if aws_secret_access_key is defined %}
aws_secret_access_key = {{ aws_secret_access_key }}
{% endif %}
